Hi <%= @user.full_name %>!
<br><br>
<%= @sender.full_name %> has invited you to join them for <%= @event.name %> on Social Eats!
<br>
<br>
<%= link_to 'Click here to join', event_url(@event) %>
<br>
<br>
<h3>Here are the details:</h3>
  <%= @event.name %><br>
  <%= @event.location.name %><br>
  <%= @event.location.address %><br>
  <%= @event.weekly_time %>
<br><br>
<h3>Here are the other people currently attending!</h3><br>
<ul>
<%= @sender.full_name %>
<% @event.guests.each do |guest| %>
  <li><%= guest.full_name %></li>
<% end %>
</ul>
<br>
Don't be lonely! Come join us!
<br><br>
Sincerely,<br>
<%= @sender.first_name %>
