<h2>Edit <%= @user.full_name %>!</h2>

<%= render "form" %>

<<<<<<< HEAD
<%= link_to "Delete", user_path, method: :delete, class:"btn btn-primary" %>
=======
<%= link_to "Delete User", user_path, method: :delete, class:"btn btn-primary" %>

<%= link_to "Cancel Edit", user_path, :class => "btn btn-danger" %>
>>>>>>> e477438b62b4e66204369b80db59497fb286facc
