
<div class="row">
  <div class="col-md-4">
<br>
<% if current_user.friends.include?(@user) %>
    <div align="center">
    <span class="label label-success">Friend</span>
    </div>
<% end %>
<img src="<%= @user.picture %>" height="150", width="150" class="img-circle">
<h3><%= @user.full_name %></h3>
<% if @user != current_user && current_user.friends.include?(@user) == false %>
<%=link_to "Be friends with #{@user.first_name}!", friendships_path(:friend_id => @user), class: "btn btn-primary", method: "post" %>
<% elsif @user != current_user && current_user.friends.include?(@user) %>
<%= link_to "Remove friend", friendship_path, :method => :delete , class: "btn btn-danger" %>
<% end %>
</div>
<div class="col-md-4"">
<h3>Upcoming Events</h3>
  <% if @user.upcoming_events.count == 0 %>
    <ul>
      <li>No upcoming events...<% if current_user == @user %> you should:</li>
      <li><%= link_to "Create an Event", new_event_path, class: "btn btn-success" %></li> or ...
      <li><%= link_to "Join an Existing Event", events_path, class: "btn btn-primary"%></li>
       <% end %>
      </ul>
  <% else %>
  <% @user.upcoming_events.each do |event| %>
    <ul class="list-unstyled">
    <li><h4><%= link_to event.name, event_path(event) %></h4></li>
    <li><%= event.location.name %></li>
    <li><%= event.format_time %></li>
    <li>Number of Attendees: <%= event.guests.count + 1 %></li>
    </ul>
    <% end %>
  <% end %>
  <h3>Past Events</h3>
  <% @user.past_events.each do |event| %>
    <ul class="list-unstyled">
    <li><h4><%= link_to event.name, event_path(event) %></h4></li>
      <li><%= event.location.name %></li>
      <li><%= event.format_time %></li>
      <li>Number of Attendees: <%= event.guests.count + 1 %></li>
    </ul>
    <% end %>

    <br>

</div>
<div class="col-md-4">
<h2> Friends</h2>
<div>
  <% @user.friends.each do |friend| %>
    <a href="<%= user_path(friend) %>"><img src="<%= friend.picture %>" height="50", width="50" class="img-circle"></a>
    <% end %>
    </div>
<br>

<% if current_user == @user %>
<%= link_to "Edit Profile", edit_user_registration_path(@user), class: "btn btn-warning" %>
<% end %>
</ul>
</div>
</div>



