<div class="row">
  <div class="col-md-4">
<img src="<%= @user.picture %>" height="200", width="200" class="img-circle">
<h1><%= @user.full_name %></h1>

</div>
<div class="col-md-4">
<h3>Upcoming Events</h3>
  <% if @user.upcoming_events.count == 0 %>
    <ul>
      <li>No upcoming events...<% if current_user == @user %> you should:
      <br>
      <br>
      <br>
       <% end %>
      </ul>
  <% else %>
  <% @user.upcoming_events.each do |event| %>
    <ul class="list-unstyled">
    <li><h4><%= link_to event.name, event_path(event) %></h4></li>
    <li><%= event.location.name %></li>
    <li><%= event.format_time %></li>
    <li>Number of Attendees: <%= event.guests.count + 1 %></li>
    </ul>
    <% end %>
  <% end %>
  <h3>Past Events</h3>
  <% @user.past_events.each do |event| %>
    <ul class="list-unstyled">
    <li><h4><%= link_to event.name, event_path(event) %></h4></li>
      <li><%= event.location.name %></li>
      <li><%= event.format_time %></li>
      <li>Number of Attendees: <%= event.guests.count + 1 %></li>
      (<%= link_to "remove", event, :method => :delete %>)
    </ul>
    <% end %>

    <br>

 <%= link_to "Create a New Event", new_event_path, class:"btn btn-primary" %>
       &nbsp;
 <%= link_to "Attend an Event",  events_path, class:"btn btn-primary" %></li>

</div>
<div class="col-md-4">
<h2> Friends</h2>
<div>
  <% @user.friends.each do |friend| %>
    <a href="<%= user_path(friend) %>"><img src="<%= friend.picture %>" height="50", width="50" class="img-circle"></a>
    <% end %>
    </div>
<br>

<% if current_user == @user %>
<% for friendship in @user.friendships %>
  <li>
    <%= link_to friendship.friend.full_name, user_path(friendship) %>
    (<%= link_to "remove", friendship, :method => :delete %>)
  </li>
  <% end %> 
  <% end %>

<% if current_user == @user %>
<p><%= link_to "Add Friends", users_path, class:"btn btn-primary" %></p>
<% end %>


<% if current_user == @user %>
<%= link_to "Edit Profile", edit_user_registration_path(@user), class: "btn btn-primary" %>
<% end %>
</ul>
</div>
</div>
