<%= form_for @event do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time, :ampm => true, :minute_step => 5 %>
  </div>


    <div class= "location_selector">
      <h2>Select a location:</h2>
      <%= f.fields_for @event.location, remote: true do |location_form| %>
        <%= location_form.label :name %>
        <%= location_form.text_field :name %><br>
        <%= location_form.label :address %>
        <%= location_form.text_field :address %>
        <%= location_form.text_field :picture, style: "display: none;"%>
      <% end %> <!-- end location fields -->
    </div>


  <h2>Other details</h2>
  <div>
    <%= f.label :meeting_place %>
    <%= f.text_field :meeting_place %>
  </div>
  <div>
    <%= f.label :duration %>
    <%= label :duration, "ðŸ° (quick, 5-10 mins)" %>
    <%= f.radio_button :duration, "ðŸ°" %>
    <%= label :duration, "ðŸ¼ (chill, 15-20 mins)" %>
    <%= f.radio_button :duration, "ðŸ¼" %>
    <%= label :duration, "ðŸ¢ (super chill, 20+ mins)" %>
    <%= f.radio_button :duration, "ðŸ¢" %>
  </div>
  <%= f.submit "Submit", :class => "btn btn-primary" %>
<% end %>

