<div class="row">
<div class="text-center">
<h1>Events going on right now</h1><br>
<%= link_to "Create a New Event", new_event_path, class:"btn btn-primary" %>
</div>
</div>
<br><br>
  <div class="row">
  <% @events.each do |event| %>
  <div class="col-md-4" align="center">
      <% if event.guests.include?(current_user) %>
    <span class="label label-success">Going!</span>
      <% elsif event.host == current_user %>
      <span class="label label-info">Hosting!</span>
      <% else %>
    <span class="label label-default">Not going</span>
      <% end %><br>
    <a href="<%= event_path(event) %>"><img src="<%= event.host.picture %>" class="img-circle" height="150" width="150"></a>
    <h2><%= link_to event.name, event_path(event) %></h2>
    <p><strong>Hosted by <%= link_to event.host.full_name, user_path(event.host) %></strong></p>
    <p><%= event.format_time %> @ <%= link_to event.location.name, location_path(event.location) %></p>
    <% if event.duration == "ðŸ°" %>
    <span id="rabbit" data-toggle="tooltip" data-placement="left" title="Fast! 10-15mins"><%= event.duration %></span>
    <% elsif event.duration == "ðŸ¼" %>
    <span id="panda" data-toggle="tooltip" data-placement="left" title="Chill, 15-20 mins"><%= event.duration %></span>
    <% else %>
    <span id="turtle" data-toggle="tooltip" data-placement="left" title="Super chill, 20+ mins"><%= event.duration %></span>
    <% end %>
    <p><span class="badge"><%= event.guests.count %></span><% event.guests.last(5).reverse.each do |guest| %>
    <img src="<%= guest.picture %>" class="img-circle" height="50" width="50" <% if guest == current_user%> style="border:2px solid green" <% end %>>
    <% end %></p>

  </div>
  <% end %>

</div>

