add_user();
$(".btn").attr('class', "<%= @event.join_class(current_user) %>");
$(".btn").html("<%= @event.join_message(current_user) %>");
function add_user() {
  if($(".btn").text() == "Join Event") {
    $("ul.guests").append("<li id=<%= current_user.id %>>" + "<a href= '/users/<%= current_user.id %>'><%= current_user.first_name %>" + "</a></li>")
  }
  else {
    $("li[id=<%= current_user.id %>]").hide()
  }
}

