<h1>Create a new event</h1>

<div class="row">
  <div class="col-md-6">
    <%= render 'new_form' %>
  </div><!-- left-col -->
  <div class="col-md-6" id="right-col">
    <%= form_tag '/search', remote: true do %>
      <%= label_tag 'search', 'Search' %>
      <%= text_field_tag 'search', nil, placeholder: 'Search powered by Yelp' %>
      <%= submit_tag 'Search' %>
    <% end %>
    <div class="search_results">
      <%= render partial: "search/search_results", locals: {results: @results} %>
    </div>
  </div><!-- right-cold -->
</div><!-- row -->
