<h1>Create a new event</h1>

<div class="row">
  <div class="col-md-6">
    <%= render 'new_form' %>
  </div><!-- left-col -->
  <div class="col-md-6" id="right-col">
    <%= form_tag '/search', remote: true do %>
      <%= label_tag 'search_business', 'Search' %>
      <br>
      <%= text_field_tag 'search_business', nil, placeholder: 'powered by Yelp'  %>
      <%= text_field_tag 'search_location', nil, placeholder: 'enter a location' %>
      <%= submit_tag 'Search', class: "btn btn-default" %>
    <% end %>
    <div class="search_results">
    </div>
  </div><!-- right-col -->
</div><!-- row -->
