<h1><%= @event.name %></h1>



<h2>Where we're going:</h2>
Place: <%= @event.location.name %><br>
Address: <%= @event.location.address %><br>

<h2>Meet details</h2>
<%= @event.start_time %>
<%= @event.duration %>


<h2>Who's hosting!?</h2>
  <ul>
  <li><%= link_to @event.host.first_name, user_path(@event.host) %></li>
  </ul>
<h2>Who's going!?</h2>
<ul class= "guests">
  <% @event.guests.each do |guest| %>
    <li id="<%= guest.id %>"><%= link_to guest.first_name, user_path(guest) %></li>
  <% end %>
</ul>
<div>

<% if @current_user == @event.host %>
<%= link_to "Edit", edit_event_path(@event), id: "edit", class:"btn btn-primary" %>
<% else %>
<%= link_to @event.join_message(current_user), join_path(id: @event.id), method:"post", id: "join-leave", class: @event.join_class(current_user), remote: :true %>
<% end %>

<br>
<br>
<br>
  <div class = "pull-middle">
<%= form_for @event do |f| %>
  <%= f.fields_for :comment do |comment| %>
        <b><%= comment.label :Comment %></b>
        <br>
        <%= comment.text_area :content, :cols => "40", :rows => "3" %>
    </div>
       <%= f.submit "Submit", :class => "btn btn-primary" %>
      <% end %>
  <% end %>