<div class="row">
  <div class="col-md-8">
  <h1><%= @event.name %></h1>



  <h2>Where we're going:</h2>
  Place: <%= @event.location.name %><br>
  Address: <%= @event.location.address %><br>

  <h2>Meet details</h2>
  <%= @event.start_time %>
  <%= @event.duration %>


  <h2>Who's hosting!?</h2>
    <ul>
    <li><%= link_to @event.host.first_name, user_path(@event.host) %></li>
    </ul>
  <h2>Who's going!?</h2>
  <ul class= "guests">
    <% @event.guests.each do |guest| %>
      <li id="<%= guest.id %>"><%= link_to guest.first_name, user_path(guest) %></li>
    <% end %>
  </ul>
  <% if @current_user == @event.host %>
  <%= link_to "Edit event", edit_event_path(@event), id: "edit", class:"btn btn-primary" %>
  <% else %>
  <%= link_to @event.join_message(current_user), join_path(id: @event.id), method:"post", id: "join-leave", class: @event.join_class(current_user), remote: :true %>
  <% end %>

  <br>
  <br>
  <br>
    <%= render partial: 'comment_form', locals: {comment: @comment, event: @event}%>
  </div><!-- left column end -->

  <div class="col-md-4">
  <h2>COMMENTS</h2>
    <div id="comments">
      <%= render partial: 'all_comments', locals: {comment: @comments, event: @event}%>
    </div><!-- comments end -->
  </div><!-- right column end -->
</div><!-- row end -->
