<div class="row">
  <div class="col-md-8">
  <h1 id="show"><%= @event.name %></h1>
  <h2>Where we're going:</h2>
  <p><img src="<%= @event.location.picture %>" class="img-circle" height="100" width="100"></p>
  <p><strong>Place: </strong><%= link_to @event.location.name, @event.location %></p>
  <p><strong>Address: </strong><%= @event.location.address %></p>


  <h2>Meet details</h2>
  <p><strong>Time: </strong><%= @event.format_time %></p>
  <p><strong>Duration: <span id="duration"><%= @event.duration %></span>
</strong></p>
  <h2>Who's hosting!?</h2>
    <ul>
    <li><%= link_to @event.host.first_name, user_path(@event.host) %></li>
    </ul>
  <h2>Who's going!?</h2>
  <ul class= "guests">
  <% if @event.guests.count == 0 %>
    <li>No one yet, invite some people!</li>
    <% else %>
    <% @event.guests.each do |guest| %>
      <li id="<%= guest.id %>"><%= link_to guest.first_name, user_path(guest) %></li>
    <% end %>
    <% end %>
  </ul>
    <% if current_user != @event.host %>
  <%= link_to @event.join_message(current_user), join_path(id: @event.id), method:"post", id: "join-leave", class: "btn btn-#{@event.join_class(current_user)}", remote: :true %>
  <% end %>

  <%= form_tag '/search/users', remote: true do %>
     <%= label_tag 'friend_search_text', 'Search' %>
     <%= text_field_tag 'friend_search_text', nil, placeholder: 'Invite your friends!'  %>
     <%= hidden_field_tag 'friend_id' %>
     <%= hidden_field_tag 'event_id', @event.id %>
     <%= submit_tag 'Invite', class: "btn btn-primary btn-xs" %>
   <% end %>

<br>
  <% if current_user == @event.host %>
  <p><%= link_to "Edit event", edit_event_path(@event), id: "edit", class:"btn btn-warning" %></p>
  <% end %>
  </div><!-- left column end -->

  <div class="col-md-4">
    <div id="comments">
     <h2>CHAT</h2>
      <div id="comments_container" style="height: 50vh; overflow-y: scroll">
        <%= render partial: 'all_comments', locals: {comment: @comments, event: @event}%>
      </div>
      <%= render partial: 'comment_form', locals: {comment: @comment, event: @event}%>
      <br>


    </div><!-- comments end -->
  </div><!-- right column end -->
</div><!-- row end -->

<script type="text/javascript">

  $('#friend_search_text').autocomplete({
    minLength: 2,
    source: '<%= users_path(:json) %>',
    focus: function(event, ui) {
      $('#friend_search_text').val(ui.item.first_name + ' ' + ui.item.last_name)
      return false
    },
    select: function(event, ui) {
      $('#friend_search_text').val(ui.item.first_name + ' ' + ui.item.last_name)
      $('#friend_id').val(ui.item.id)
      return false
    }
  })
  .data( "uiAutocomplete" )._renderItem = function( ul, item ) {
    return $( "<li></li>" )
      .data( "item.autocomplete", item )
      .append( "<a>" + item.first_name + "</a>" )
      .appendTo( ul )
  }
  $("textarea#comment_content").on("keypress", function(e) {
    if (e.keyCode === 13) {
      $(this).submit()
      $("textarea#comment_content").val("")
      e.preventDefault();
      e.stopPropagation();
    }
  })
  $("input#comments_button").on("click", function(e) {
      $(this).submit()
      $("textarea#comment_content").val("")
      e.preventDefault();
      e.stopPropagation();

  })
</script>

<script>
$(function() {


  $("span#rabbit").on("click", function() {

  $(this).effect("bounce", {distance: 100}, "slow")
});
  $("span#panda").on("click", function() {
  
  $(this).effect("shake", {distance: 5}, "slow" )
});
  $('span#rabbit').tooltip({
    placement : 'top',
    html : true,
    trigger : 'hover', //<--- you need a trigger other than manual
    delay: {
       show: "0",
       hide: "500"
    },
  })
  $('span#panda').tooltip({
    placement : 'top',
    html : true,
    trigger : 'hover', //<--- you need a trigger other than manual
    delay: {
       show: "0",
       hide: "500"
    },
  })
  $('span#turtle').tooltip({
    placement : 'top',
    html : true,
    trigger : 'hover', //<--- you need a trigger other than manual
    delay: {
       show: "0",
       hide: "500"
    },
  })
  })
</script>
