
<h1> All Locations</h1>

<% @locations.each do |location| %>
<br>
  <h4><%= link_to location.name, location_path(location) %></h4>
  <%= location.address %><br>
  <br>
  <div class="pull-left">
   <%= link_to like_location_path(location, likes: true), class:"glyphicon glyphicon-thumbs-up", method: :post do %>
   <%= location.thumbs_up_total %>
     <% end %> &nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to like_location_path(location, likes: false), class:"glyphicon glyphicon-thumbs-down", method: :post do%>
 <%= location.thumbs_down_total %>
 <% end %>
</div>
  <br>
  <br>
<% end %>
