
<h1> All Locations</h1>

<% @locations.each do |location| %>
<br>
 <h3><%= link_to location.name, location_path(location) %></h3>
  <div class="pull-left">
    <%= link_to "like", like_location_path(location, likes: true), method: :post do %>
      <%= location.thumbs_up_total %>
    <% end %> &nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to "dislike", like_location_path(location, likes: false), method: :post do %>
    <%= location.thumbs_down_total %>
  <% end %>
</div>

  <br>
  <br>
<% end %>
