
<div class="row">
<div class="col-md-8">
<h1><%= @location.name %></h1>
<p><%= @location.address %> </p>


<h3>Upcoming Events</h3>
<ul>
<% if @location.upcoming_events.count == 0 %>
<li>No upcoming events here.</li>
  <br>
  <%= link_to "Schedule One", new_event_path, class:"btn btn-primary" %>
<% else %>
  <% @location.upcoming_events.each do |event| %>
    <li>
      <h3><%= link_to event.name, event_path(event) %><br></h3>
      <%= event.format_time %><br><br>
          <ul style="inline">
          <%  event.guests.each do |guest| %>
              <li><%= link_to guest.full_name, user_path(guest) %></li>s
          <% end %>
          </ul>
    <% end %>
<% end %>

</ul>

<h3>Previous Events</h3>
  <ul>
    <% @location.previous_events.each do |event| %>
      <li><h3><%= link_to event.name, event_path(event) %><br></h3></li>
          <%= event.start_time.strftime("%a, %b %-d, %Y, %I:%M %p") %><br><br>
          <ul>
              <%  event.guests.each do |guest| %>
                <li><%= link_to guest.full_name, user_path(guest) %></li>
              <% end %>
          </ul>
    <% end %>
  </ul>
      <div class="pull-left"> <!-- like button class -->
       <%= link_to like_location_path(@location, likes: true), class:"glyphicon glyphicon-thumbs-up", method: :post do %>
       <%= @location.likes_message(current_user) %>
       <% end %> &nbsp&nbsp&nbsp
    </div><!-- likes_end-->

</div><!-- left_column_end -->
<div class="col-md-4">
<h3>TIPS</h3>
<% if @location.tips.count == 0 %>
<ul>
  <li>No tips for this location</li>
</ul>
<% else %> 
<% @location.tips.each do |tip| %>
  <% if tip.user == current_user %>
  <p class="tip" id="your_tip" ><strong><%= tip.user.full_name %>: </strong><%= tip.content %></p>
  <%= link_to "Edit", edit_tip_path, :class => "btn btn-warning", id: "edit_button", style: "display: none;" %>
  <%= link_to "Delete", tip_path, method: :delete, :class => "btn btn-danger", id: "delete_button", style: "display: none;" %>
 
  <% else %>
  <p class="tip"><strong><%= tip.user.full_name %>: </strong><%= tip.content %></p>
  <% end %>
  <% end %>
  <% end %><br>


<%=form_for @tip do |f|%>
  <%= f.label :your_tip%>:
  <%= f.text_area :content, class: "form-control", data: {textarea: "tip"}%>

  <%= f.hidden_field :location_id, value: @location.id %>
  <%= f.submit "Leave Tip", class: "btn btn-primary", data: {send: "tip"}%>
<%end%>
</div>
</div>